{% extends "base.html" %}
{% load static %}
{% block head_title %}home{% endblock %}

{% block content %}

<section class="home">

  <div class="swiper home-slider">

    <div class="swiper-wrapper">
      <div class="swiper-slide slide" style="background: url({% static 'images/home-slide-1.jpg' %}) no-repeat;">
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>travel around the world</h3>
          <a href="{% url 'destination:package' %}" class="btn">discover more</a>
        </div>
      </div>


      <div class="swiper-slide slide" style="background:url({% static 'images/home-slide-2.jpg' %}) no-repeat">
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>discover the new places</h3>
          <a href="{% url 'destination:package' %}" class="btn">discover more</a>
        </div>
      </div>

      <div class="swiper-slide slide" style="background:url({% static 'images/home-slide-3.jpg' %}) no-repeat">
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>make your tour worthwhile</h3>
          <a href="{% url 'destination:package' %}" class="btn">discover more</a>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>
  <div>

  </div>
</section>


<section class="services">

  <h1 class="heading-title"> our services </h1>

  <div class="box-container">

    <div class="box">
      <img src="{%static 'images/icon-1.png'%}" alt="">
      <h3>adventure</h3>
    </div>
    <div class="box">
      <img src="{%static 'images/icon-2.png'%}" alt="">
      <h3>tour guide</h3>
    </div>

    <div class="box">
      <img src="{%static 'images/icon-3.png'%}" alt="">
      <h3>trekking</h3>
    </div>

    <div class="box">
      <img src="{%static 'images/icon-4.png'%}" alt="">
      <h3>camp fire</h3>
    </div>

    <div class="box">
      <img src="{%static 'images/icon-5.png'%}" alt="">
      <h3>off road</h3>
    </div>

    <div class="box">
      <img src="{%static 'images/icon-6.png'%}" alt="">
      <h3>camping</h3>
    </div>

  </div>

</section>

<section class="home-about">

  <div class="image">
    <img src="{% static 'images/about-img.jpg'%}" alt="">
  </div>

  <div class="content">
    <h3>about us</h3>
    <p>{{about}}</p>
    <a href="{% url 'destination:about' %}" class="btn">read more</a>
  </div>

</section>

<section class="home-packages">

  <h1 class="heading-title"> treanding and discount packages </h1>

  <div class="box-container">
    {% for item in object_list %}
    <div class="box">
      <div class="image">
        <a href="{{ item.get_absolute_url }}"><img src="{{ item.img_main.url }}"></a>
      </div>
      <div class="content">
        <h3>{{ item.place_name }}</h3>
        <p>{{ item.description_of_place }}</p>
        <a href="{% url 'destination:booking' %}" class="btn">book now</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <div class="load-more"><a href="?page={{ page_obj.previous_page_number }}" class="btn">previous

    </a></div>
  {% endif %}

  {% if page_obj.has_next %}
  <div class="load-more"><a href="?page={{ page_obj.next_page_number }}" class="btn">Next

    </a></div>
  {% endif %}

  {% endif %}
</section>


{% endblock content %}