{% load static %}
<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>quick links</h3>
      <a href="{% url 'destination:home' %}">home</a>
      <a href="{% url 'destination:about' %}">about</a>
      <a href="{% url 'destination:package' %}">package</a>
      <a href="{% url 'destination:booking' %}">book</a>
    </div>

    <div class="box">
      <h3>extra links</h3>
      <a href="#"> <i class="fas fa-angle-right"></i> ask questions</a>
      <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
      <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
      <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="#"> <i class="fas fa-phone"></i> +91903009386 </a>
      <a href="#"> <i class="fas fa-phone"></i> +919828023222 </a>
      <a href="#"> <i class="fas fa-envelope"></i> brads@gmail.com </a>
      <a href="#"> <i class="fas fa-map"></i> kolkata, india </a>
    </div>


  </div>

</section>